@using Microsoft.AspNetCore.Identity
@using MvcBlogHomeIdentity.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@model ArticleCreateVM
@{
    ViewData["Title"] = "Article Write";
}
<h1></h1>
<form asp-action="Write">
    <div class="container bg-warning bg-opacity-10">
        <br />
        <h1>Write Article</h1>
        <br />
        <div class="mb-3">
            <label asp-for="Categories" class="form-label">Choose Category</label>
            @foreach (var item in Model.Categories)
            {
                <div class="form-check">
                    <input class="form-check-input" name="ids" type="checkbox" value="@item.Id" />
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            }
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Article's Name</label>
            <input asp-for="Name" type="text" class="form-control" id="articleName" aria-describedby="Article Name">
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Context" class="form-label">Article's Context</label>
            <textarea asp-for="Context" class="form-control" id="articleText" style="height:300px"></textarea>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create Article" asp-route-id="@SignInManager.UserManager.GetUserId(User)" class="btn btn-outline-warning" />
        </div>
        <br />
        <br />
    </div>
</form> 