@{
    ViewData["Title"] = "Our History";
}

<div class="container">
    <div class="col-md-10">
        <div class="section-row">
            &nbsp;
            <h1>Our History</h1>
            <p> Lorem ipsum dolor sit amet, ea eos tibique expetendis, tollit viderer ne nam. No ponderum accommodare eam, purto nominavi cum ea, sit no dolores tractatos. Scripta principes quaerendum ex has, ea mei omnes eruditi. Nec ex nulla mandamus, quot omnesque mel et. Amet habemus ancillae id eum, justo dignissim mei ea, vix ei tantas aliquid. Cu laudem impetus conclusionemque nec, velit erant persius te mel. Ut eum verterem perpetua scribentur.Nec ex nulla mandamus, quot omnesque mel et. Amet habemus ancillae id eum, justo dignissim mei ea, vix ei tantas aliquid. Cu laudem impetus conclusionemque nec, velit erant persius te mel. Ut eum verterem perpetua scribentur.
            </p>
            <img src="/image/resim2.jpeg" alt="default" width="1000" height="1000" />
        </div>
        &nbsp;
        <div class="row section-row">
            <p>
                No ponderum accommodare eam, purto nominavi cum ea, sit no dolores tractatos. Scripta principes quaerendum ex has, ea                    mei omnes eruditi. Nec ex nulla mandamus, quot omnesque mel et. Amet habemus ancillae id eum, justo dignissim mei ea, vix ei tantas  aliquid. Cu laudem impetus conclusionemque nec, velit erant persius te mel. Ut eum verterem perpetua scribentur.
            </p>
        </div>
        &nbsp;
        <div class="row section-row">
            <div class="col-md-6">
                <img src="/image/resim.jpeg" alt="default" width="400" height="400" />
            </div>
            <div class="col-md-6">
                <h3>Our Mission</h3>
                <ul class="list-group">
                    <li>
                        Vix mollis admodum ei, vis legimus voluptatum ut.
                    </li>
                    &nbsp;
                    <li>
                        Cu cum alia vide malis. Vel aliquid facilis adolescens.
                    </li>
                    &nbsp;
                    <li>
                        Laudem rationibus vim id. Te per illum ornatus.
                    </li>
                    &nbsp;
                    <li>
                        Laudem rationibus vim id. Te per illum ornatus.Laudem rationibus vim id. Te per illum ornatus.
                    </li>
                    &nbsp;
                    <li>
                        Vix mollis admodum ei, vis legimus voluptatum ut.
                    </li>
                    &nbsp;
                    <li>
                        Cu cum alia vide malis. Vel aliquid facilis adolescens.
                    </li>
                    &nbsp;
                    <li>
                        Laudem rationibus vim id. Te per illum ornatus.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row section-row">
            &nbsp;
        </div>
        &nbsp;
    </div>
</div>
